[Unit]
Description=Juni's Queue Monitor Service (C++)
After=network.target
Conflicts=jvideo-queue-monitor-python.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/jvideo
Environment="JVIDEO_SERVICE_IMPL=cpp"
ExecStart=/opt/jvideo/bin/queue-monitor-cpp
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
